body {
    font-family: "Source Sans Pro";
    margin: auto;
    max-width: 800px;
    text-align: justify;
}

.siteHeader {
    margin-top: 30px;
    margin-bottom: 50px;
}

.siteTitle {
    font-family: "Roboto";
    font-size: 50pt;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.siteTitle:hover {
    color: inherit;
}

.navBar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.navBar a {
    font-size: 12pt;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    border: black solid 2px;
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    /* margin: 5px; */
}

.navBar a:hover {
    color: inherit;
    border-color: white;
    font-weight: normal;
    /* margin: 3px; */
}

.navBar a:focus {
    outline: none;
}

.projectHeader {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
}

.projectHeader img {
    float: left;
    margin-right: 20px;
    width: 100px;
    height: auto;
    /* border: 1px solid green; */ 
}

.headerTitle {
    font-size: 20pt;
    font-weight: 1000;
}

.headerSubTitle {
    font-size: 15pt;
}

figure {
    margin: 10px;
}

figure figcaption {
    text-align: center;
    vertical-align: top;
}

.summary {
    margin: 30px 100px;
    display: flex;
    justify-content: center;
    /* border: 1px solid green; */
}

.summary b {
    margin-right: 10px;
}

.section {
    margin-bottom: 50px;
    border-bottom: 1px solid black;
}

.inline {
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
    /* border: 1px solid green;  */
    /* align-items: center; */
}

.imgGroup {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
